
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PartialViewDemo</title>
</head>
<body>
    <div>
        @Html.Partial("~/Views/Shared/PartialView.cshtml"); @*// path of partial view file*@
        @Html.Partial("~/Views/PartialViewDemo/PartialViewforTest.cshtml");

        @*@Html.Partial("~/Views/PartialViewDemo/PartialViewforTest.cshtml");*@
    </div>
</body>
</html>
