@*this view is created for git ignore testing*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create1</title>
</head>
<body>
    <div> 
        <h4>heading for stage</h4>
    </div>
</body>
</html>
